.columnbuttons {
  float: left;
  width: 8%;
  position: static;
  border: 5px solid rgb(37, 0, 245);
  height: 800px;
  background-color: blueviolet;
}
.column {
  float: left;
  width: 10%;
  position: static;
  border: 5px solid rgb(37, 0, 245);
  height: 800px;
}
.column2{
  float: left;
  width: 70%;
  position: static;
  text-indent: 10%;
  border: 5px solid rgb(37, 0, 245);
  height: 800px;
  overflow-y: hidden;
  overflow-x: hidden;

}
.column30{
  float: left;
  width: 30%;
  height: 50%;
  position: static;
  border: 5px solid rgb(0, 0, 0);
}
.lookupuser{
  float: left;
  display: block;
  font-size: 16px;
  border: 5px inset rgb(37, 0, 245);
  background-color: azure;
  position: sticky;
  bottom: 0px;
  height: 10%;
  width: 99%;
}
.scrollable {
  height: 80%;
  width: 100%;
  display: inline-block;
  overflow-y: auto;
  bottom: 0;
  left: 0;
}
.message{
  content: "";
  width: 100%;
  display: table;
  clear: both;
}
.groupElement{
  width: 100%;
  content: "";
  display: table;
  clear: both;
}
.groupinfo{
  content: "";
  height: 8%;
  width: 100%;
  display: table;
  clear: both;
}
.picture{
  float: left;
  width: 32;
  height: 32;
}
.displayName{
  text-align: center;
  font-size: 20px;
}
.textToSend{
  float: left;
  font-size: 16px;
  border: 5px inset rgb(37, 0, 245);
  background-color: azure;
  position: sticky;
  bottom: 0px;
  height: 99%;
  width: 100%;
}
.textBar{
  float: left;
  font-size: 16px;
  position: sticky;
  width: 50%;
  display: block;
}
.responseFromServer{
  height: 10%;
  font-size: 16px;
  width: 100%;
  position: stick;
}
.textBarWrapper{
  border: 5px hidden;
  bottom: 0px;
  height: 8%;
  display: block;
  position: sticky;
  clear: both;
  width: 99%;
  content: "";
}
.userButtons{
  width: 30%;
  float: left;
  position: static;
}
.sender{
  float: left;
  left: 5px;
  width: 10%;
}
.text{
  text-align: center;
  width: 90%;
}
.timestamp{
  float: right;
  width: 10%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.userRow{
  width: 100%;
  content: "";
  display: table;
  clear: both;
}
.columnbuttons div{
  text-align:center;
}
.profileBlock{
  float: left;
  width: 100%;
  height: 65%;
  display: block;
}
.adminPanel{
  float: left;
  width: 100%;
  bottom: 0%;
  height: 100%;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: blue;
  border-style: solid;
}
.functionsPanel{
  float: left;
  width: 100%;
  height: 40%;
  content: "";
  display: table;
  clear: both;
  display: block;
}
.columnbuttons div button{
  background-color: blueviolet;
}
.addButtonClassList{
  padding: 20px;
}
.removeButtonClassList{
  padding: 20px;
}
.new_display_name {
  resize: none;
  margin: auto;
  width: 22%;
  padding: 10px;
  height: 30px;
  margin-top: 100px;
}
.new_password{
  resize: none;
  margin: auto;
  width: 22%;
  padding: 10px;
  height: 30px;
  margin-top: 120px;
}
.old_password{
  resize: none;
  margin: auto;
  width: 22%;
  padding: 10px;
  height: 30px;
  margin-top: 200px;
}
.change_displayname{
  float: right;
  left: 5px;
  width: 10%;
}
.change_password{
  float: right;
  left: 5px;
  width: 10%;
}
