<!DOCTYPE html>
<html>
	<head>
        <title>Main app page</title>
        <link rel="stylesheet" href="../static/appcss.css">
        <script src="../static/js/app.js"></script>
	</head>
	<body>
		<div class="row">
            <div class="columnbuttons">
                    <p class="center">Test Buttons</p>
                    <div>
                        <button id="chatButton" onclick="chatScreen('lastColumn')"><img src="../static/images/chat.png" width="20" height="20"></a></button>
                    </div>
                    <div>
                        <button onclick="profileScreen('lastColumn')"><img src="../static/images/profile.png" width="20" height="20"></button>
                    </div>
                    <div>
                        <button onclick="contacts('contactColumn')"><img src="../static/images/contacts.png" width="20" height="20"></button>
                    </div>
                    <div>
                        <button onclick="lookup('lastColumn')"><img src="../static/images/contacts.png" width="20" height="20"></button>
                    </div>
                    <div>
                        <a href="{{ url_for("unlogger") }}">click here to logout</a>
                    </div>
            </div>
            <div id="contactColumn">

            </div>
            <div id="lastColumn" class="column2">
                
            </div>
    </body>
</html>