.columnbuttons {
  float: left;
  width: 8%;
  position: static;
  border: 5px solid rgb(37, 0, 245);
  height: 800px;
  background-color: blueviolet;
}
.column {
  float: left;
  width: 10%;
  position: static;
  border: 5px solid rgb(37, 0, 245);
  height: 800px;
}
.column2{
  float: left;
  width: 70%;
  position: static;
  text-indent: 10%;
  border: 5px solid rgb(37, 0, 245);
  height: 800px;
}
.scrollable {
  height: 84%;
  width: 100%;
  display: inline-block;
  overflow-y: auto;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.columnbuttons div{
  text-align:center;
}

.columnbuttons div button{
  background-color: blueviolet;
}

#textArea{
  outline: none;
  width: 100%;
  margin: auto;
  border: none;
  background:gray;
  resize: none;
}