<!DOCTYPE html>
<html>
    <head>
        <title>Basic form</title>
    </head>
    <body>
        <form action="" method="post">
            Username:  <input type="text" name="user" />
            <br />
            Password:  <input type="text" name="pass" />
            <br />
            Email:  <input type="text" name="email" />
            <br />
            <input type="submit" name="submit_button" value="create user" />
            <a href="{{ url_for("logger") }}">back</a>
 
        </form>
 
    </body>
</html>
 
