<!DOCTYPE html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/landing.css">
</head>
<body class="text-center">
    <form method="POST"  class="form-signin">
        <center><h1 class="h3 mb-3 font-weight-normal">Login</h1></center>
        
        <label class="float-left">Username</label>
        <center>
        <br><input type="text" name="username" placeholder="Username..." class="block">
        </center>
        <label class="float-left">Password</label> 
        <center>
        <br><input type="text" name="password" placeholder="Password..." class="block">
        </center>
        <!--<a href="forget.html" class="float-right">Forget Password</a> -->
        
        <br>
        <center>
            <button type="submit" name="submit_button" class="block" value="login">
                    Login
            </button>
          </center>
        <div class="mt-4 text-center">
      <br>
      Don't have an account? 
      <button type="submit" name="submit_button" value="create_account">
              Create one!
      </button>
		</div>
    </form>
</body>