<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="../static/landing.css">
</head>
<body class="text-center">
    <form method="POST"  class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal float-left">Create a New Account</h1>
        <h4 class="float-left ">It’s quick and easy.</h4>
        <label class="float-left">Email</label>
        <center>
        <br><input type="text" name="email" placeholder="Email Address..." class="block">
        </center>
        <label class="float-left">Username</label>
        <center>
        <br><input type="text" name="username" placeholder="Username..." class="block">
        </center>
        <label class="float-left">Password</label> 
        <center>
        <br><input type="text" name="password" placeholder="Password..." class="block">
        
       
        <!--<fieldset data-role="controlgroup">
        <label class="float-left">Choose your gender:</label>
                  <label for="male">Male</label>
                  <input type="radio" name="gender" id="male" value="male" checked>
                  <label for="female">Female</label>
                  <input type="radio" name="gender" id="female" value="female">
        </fieldset> -->
        <div class="form-group m-0">
            <button type="submit" name="submit_button" value="signup">
                    Sign up
            </button>
        </div>
    
        <div class="mt-4 text-center">
            Have an account? 
            <button type="submit" name="submit_button" value="login">
                    Login
            </button>
        </div>
        </center>
    </form>
</body>